@import url(reset.css);

* {
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Arial';
	font-weight: bold;
	margin: 0px;
}

div {
	width: 200px;
	height: 100px;
	padding: 20px;
	border: 10px solid red;
	margin: 20px;
}

.jeden {
	background-color: #045aa9;
}

.dwa {
	background-color: #0389bc;
}

.trzy {
	background-color: #4ccad8;
}
